* {
  border-radius: 00.5rem;
}

:root {
  --color-dark-blue: #023e8a;
  --color-buttons: #0077b6;
  --color-header: #00b4d8;
  --color-hover-buttons: #0096c7;
  --color-light: #caf0f8;
  --color-shadow: #48cae4;
  --color-background: #90e0ef;
  --color-text: #000000;
}

body {
  background-color: var(--color-light);
}

#header {
  background-color: var(--color-header);
  display: inline-flex;
  width: 100%;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px var(--color-shadow);
  transition: all 0.3s ease;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.logo {
  color: var(--color-light);
  background-color: var(--color-dark-blue);
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: transparent;
  font-weight: bold;
}
.logo:hover {
  background-color: var(--color-buttons);
}
.button-register {
  background-color: var(--color-header);
  padding: 0.5rem;
  font-weight: bold;
  color: var(--color-text);
  background-color: var(--color-light);
  padding: 0.5rem;
  text-decoration: transparent;
}
.button-register:hover {
  background-color: var(--color-hover-buttons);
}

.search {
  display: flex;
  margin-right: 1rem;
  margin-left: 0%;
}
.search input[type='text'] {
  border: none;
  width: 80%;
  outline: none;
}
.search button {
  width: 20%;
  padding: 0.5rem;
  background-color: var(--color-light);
  border: 0.5px solid var(--color-hover-buttons);
  cursor: pointer;
}

.search button:hover {
  transform: translateY(-1px);
}
.grid {
  display: grid;
  gap: 2rem;
  margin: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  transition: all 1s ease;
}

.cards {
  background: linear-gradient(
    180deg,
    var(--color-shadow) 66%,
    var(--color-hover-buttons) 100%
  );
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 5px 12px var(--color-shadow);
}

.title {
  background-color: var(--color-light);
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  background-color: var(--color-light);
  width: 87%;
  height: 90%;
  text-align: justify;
  padding: 2%;
}
.open-news-button {
  background-color: var(--color-background);
  border: 3px solid var(--color-dark-blue);
  margin-top: -2%;
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.open-news-button:hover {
  background-color: var(--color-light);
}
#footer {
  position: fixed;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: var(--color-header);
  color: var(--color-text);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 12px var(--color-shadow) inset;
  transition: all 0.3s ease;
}

.social {
  margin-left: 5%;
  width: 10%;
  display: flex;
  justify-content: space-between;
}
.social a:hover {
  transform: translateY(-3px);
}

.main {
  background: linear-gradient(
    180deg,
    var(--color-shadow) 66%,
    var(--color-hover-buttons) 100%
  );
  width: 60rem;
  height: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  transition: all 1s ease;
}

.register {
  display: grid;
  justify-content: center;
}

.register-title {
  margin-top: 3rem;
  width: 30rem;
  height: 5rem;
  font-size: x-large;
  font-weight: bold;
  padding: 0.5rem;
  border: 3px solid var(--color-dark-blue);
}

.register-title:focus {
  border: 3px solid var(--color-shadow);
  box-shadow: 0 0 0 4px var(--color-light);
  outline: none;
}

.register-text {
  width: 30rem;
  height: 15rem;
  font-size: larger;
  padding: 0.5rem;
  outline: none;
  border: 3px solid var(--color-dark-blue);
}

.register-text:focus {
  border: 3px solid var(--color-shadow);
  box-shadow: 0 0 0 4px var(--color-light);
  outline: none;
}

.button-save-cancel {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
}

.save {
  color: var(--color-light);
  background-color: var(--color-dark-blue);
  font-weight: bold;
  font-size: larger;
}
.save:hover {
  background-color: var(--color-hover-buttons);
}

.cancel {
  background-color: var(--color-hover-buttons);
  color: var(--color-light);
  font-weight: bold;
  font-size: larger;
}
.cancel:hover {
  background-color: var(--color-buttons);
}

@media only screen and (max-width: 950px) {
  .logo {
    width: 7rem;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 6rem;
  }
  .main {
    width: 30rem;
    height: 30rem;
    margin: auto;
    margin-top: 5rem;
  }
  .register-title {
    width: 20rem;
    height: 3rem;
  }
  .register-text {
    width: 20rem;
    height: 10rem;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 6rem;
  }
  .main {
    width: 25rem;
    height: 25rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
  .register-title {
    width: 20rem;
    height: 3rem;
  }
  .register-text {
    width: 20rem;
    height: 10rem;
    margin-bottom: 1rem;
  }
}
