* {
  border-radius: 00.5rem;
}
#body {
  background-color: rgb(216, 215, 215);
}

#header {
  background-color: grey;
  display: inline-flex;
  width: 100%;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.logo {
  color: rgb(255, 255, 255);
  background-color: rgb(43, 43, 43);
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  text-decoration: transparent;
}

.logo:hover {
  background-color: rgb(61, 61, 61);
}
.buttons {
  background-color: grey;
  padding: 0.5rem;
  font-weight: bold;
}

.button-news {
  color: black;
  background-color: white;
  padding: 0.5rem;
  margin-right: 2rem;
  text-decoration: transparent;
}
.button-news:hover {
  background-color: rgb(223, 222, 222);
}

.button-register {
  color: black;
  background-color: white;
  padding: 0.5rem;
  text-decoration: transparent;
}
.button-register:hover {
  background-color: rgb(223, 222, 222);
}

.search {
  display: flex;
  margin-right: 1rem;
}
.search input[type='text'] {
  border: none;
  width: 80%;
}
.search button {
  width: 20%;
  padding: 0.5rem;
  border: 0.5px solid grey;
  cursor: pointer;
}

.search button:hover {
  transform: translateY(-1px);
}
.grid {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards {
  background-color: grey;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
}

.title {
  background-color: rgb(184, 183, 183);
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  background-color: rgb(184, 183, 183);
  width: 87%;
  height: 90%;
  text-align: justify;
  padding: 2%;
}
.open-news-button {
  background-color: rgb(184, 183, 183);
  margin-top: -2%;
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.open-news-button:hover {
  background-color: rgb(175, 175, 175);
}
#footer {
  position: fixed;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: gray;
  color: black;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15) inset;
}

.social {
  margin-left: 5%;
  width: 10%;
  display: flex;
  justify-content: space-between;
}
.social a:hover {
  transform: translateY(-3px);
}
